@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
/* Universal Selectors */
:root {
    
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:whitesmoke;
    background-image: url("../Images/quiz-background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
   font-size: 30px;
   font-weight: 800;
}

h1 {
   color: rgb(230, 67, 8);
   padding: 20px;
   font-weight: 700;
}

a {
 color: rgb(140, 5, 5);
 transition: color 0.2s;
 font-size: 25px;
}

a:hover {
    color: rgb(235, 237, 236);
}

.fa-star {
   size: 20px;
}

span {
   color: red;
   box-shadow: 50 50d #2c5364;
   font-weight: 900;
}
button {
   font-size: 20px;
   padding: 20px;
   width: auto;
   text-align: center;
   margin-bottom: 10px;
   text-decoration: none;
   border: none;
   border-radius: 15px;
   background: transparent;
   box-shadow: 0 0 50px;
   transition: 0.3s #2c5364;
   transform: scale(1.03);
}

button:hover {
   cursor: pointer;
   box-shadow: 0 0 50px;
   transition: 0.3s #2c5364;
   transform: scale(1.03);
}

.choice {
   width: auto;
   font-weight: 900;
   background: transparent;
   box-shadow: 0 0 50px;
   transition: 0.3s #2c5364;
   transform: scale(1.03);
}

.choices button {
    display: block;
}

input [type="text"] {
    font-size: 100%;
}

ol {
    overflow: auto;
    max-height: 400px;
    padding-left: 0px;
}

li {
    color: greenyellow;
    list-style: decimal inside none;
    padding: 15px;
}

li:nth-child(odd) {
    background-color: rgb(205, 192, 10);
}

.wrapper {
    max-width: 600px;
    margin: 100px auto 0 auto;   
    font-size: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.hide {
    display: none;
}

.front {
    text-align: center;
    font-size: larger;
}

.highscores {
    color: greenyellow;
    padding: 10px;
    width: auto;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 50px;
    text-align: left;
    text-decoration: none;
    box-shadow: 0 0 50px;
    transition: 0.3s #2c5364;
    transform: scale(1.03);
    background: transparent;
    font-weight: 900;
    border: none;
}

.highscores:hover {
   box-shadow: 0 0 50px;
    transition: 0.3s #aff805;
    transform: scale(1.03);
}

.alert {
    padding-top: 10px;
    margin-top: 20px;
    font-style: bold;
    font-size: 150%;
    border-top: 4px solid rgb(6, 6, 6);
    color: rgb(244, 242, 242);
}

.timer {
    right: 80px;
    top: 30x;
    position: absolute;
    font-size: 30px;
}

#start {
   font-weight: 800;
   font-size: xx-large;
   background: transparent;
   color: rgb(212, 9, 9);
   width: auto;
}

#start:hover {
   box-shadow: 0 0 50px;
   transition: 0.3s #2c5364;
   transform: scale(1.03);
}

#clear {
   width: auto;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

#submit {
   width: auto;
   padding: 10px;
   font-weight: 700;
   box-shadow: 0 0 50px;
   background-color: palegreen;
   transition: 0.3s #2c5364;
   transform: scale(1.03);
}

#initials {
   background: transparent;
   font-weight: 900;
   border: solid;
   box-shadow: 0 0 50px;
   transition: 0.3s #2c5364;
   transform: scale(1.03);
   padding: 10px;
   outline: none;
   border-style: none;
}

#question-title {
   font-weight: 900;
}